/* Media query manager

0 - 600px phone
600px - 900px tablet portrait
900px - 1200px tablet landscape
1200px - 1800px desktop
1800px+ Big desktop

1em = 16px

*/
.centered-content {
  text-align: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.section {
  padding: 10rem 0; }
  .section__img {
    display: block;
    margin: 0 auto; }
  .section--stats {
    background: #10c9c3;
    padding: 10rem 0; }
  .section--specialities {
    background: #f5f5f5; }
  .section--testimonials {
    background: #10c9c3;
    padding: 14rem; }
    @media only screen and (max-width: 37.5em) {
      .section--testimonials {
        padding: 14rem 3rem; } }
  .section--clients {
    padding: 6rem 0; }
  .section--contact {
    background: #f5f5f5;
    padding: 10rem 3rem; }

.skills {
  display: grid;
  grid: auto/repeat(2, 1fr); }
  @media only screen and (max-width: 37.5em) {
    .skills {
      grid: auto / 1fr; } }
  .skills__info {
    background: #f8f9f9;
    padding: 16rem 8.5rem 16rem; }
  .skills__image {
    background: url("../img/watch.png") no-repeat top/cover #e9e9e9; }
    @media only screen and (max-width: 37.5em) {
      .skills__image {
        display: none; } }

.product-images {
  display: grid;
  grid: auto/repeat(4, 1fr);
  list-style: none; }
  @media only screen and (max-width: 56.25em) {
    .product-images {
      grid: auto/repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .product-images {
      grid: auto / 1fr; } }
  .product-images__link {
    display: block; }
    .product-images__link:hover {
      background-color: rgba(37, 37, 37, 0.8); }
  .product-images__image {
    display: block;
    width: 100%;
    height: 30rem; }

.specialities {
  display: grid;
  grid: auto/repeat(4, 1fr);
  grid-row-gap: 5rem;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .specialities {
      grid: auto/repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .specialities {
      grid: auto / 1fr; } }

.clients {
  display: grid;
  grid: auto/repeat(5, 1fr);
  list-style: none;
  justify-items: center; }
  @media only screen and (max-width: 56.25em) {
    .clients {
      grid: auto/repeat(3, 1fr);
      grid-row-gap: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .clients {
      grid: auto / 1fr;
      grid-row-gap: 4rem; } }

.footer {
  background: #141414;
  padding: 9rem 0; }

.footer-grid {
  display: grid;
  grid: auto/42% 25% repeat(2, 1fr) 15%;
  margin: 0 10rem; }
  @media only screen and (max-width: 56.25em) {
    .footer-grid {
      grid: auto/36% 30% repeat(3, 1fr);
      margin: 0 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer-grid {
      grid: auto / 1fr;
      grid-row-gap: 2rem; } }

.meter {
  height: 3px;
  /* Can be anything */
  position: relative;
  background: #d8d8d8;
  margin: 1.5rem 0 3.5rem; }

.meter > span {
  display: block;
  height: 100%;
  background-color: #10c9c3;
  position: relative;
  overflow: hidden; }

.ux-span {
  width: 75%; }

.development-span {
  width: 90%; }

.marketing-span {
  width: 65%; }

/*

behance.net
shutterstock.com
mockupworld.co
graphicburger.com
freebiesbug.com
unsplash.com


Icons:
http://themes-pixeden.com/font-demos/7-stroke

*/
body {
  color: #787878;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  color: #191919;
  font-family: 'Montserrat', sans-serif; }

h1, h2 {
  margin-bottom: 3rem; }

h2 {
  font-size: 2.9rem;
  letter-spacing: .07rem; }

.header__text {
  font-size: 1.8rem;
  margin-bottom: 3.5rem; }

.header-navigation {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: bold; }
  .header-navigation__item {
    margin: 0 1.5rem; }
  .header-navigation__link {
    text-decoration: none;
    text-transform: uppercase; }
    .header-navigation__link:link, .header-navigation__link:visited {
      color: #191919; }
    .header-navigation__link:active, .header-navigation__link:hover {
      color: #10c9c3; }

.section__heading {
  text-align: center; }

.section__text {
  margin: 0 auto 2.2rem;
  text-align: center;
  width: 50%; }
  @media only screen and (max-width: 37.5em) {
    .section__text {
      width: 80%; } }

.skills__name {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.3rem;
  letter-spacing: .07rem;
  text-transform: uppercase; }

.stats {
  color: #fff; }

.stat__icon {
  display: flex;
  font-size: 5rem; }

.stat__amount {
  color: #fff;
  letter-spacing: .07rem; }

.stat__text {
  font-size: 1.23rem;
  letter-spacing: .05rem;
  text-transform: uppercase; }

.button--load-more {
  font-size: 1.25rem;
  letter-spacing: .09rem;
  font-weight: 700;
  text-transform: uppercase; }
  .button--load-more:link, .button--load-more:visited {
    color: #838383;
    text-decoration: none; }

.speciality {
  text-align: center; }
  .speciality__icon {
    font-size: 5rem; }
  .speciality__name {
    font-size: 1.3rem;
    letter-spacing: .07rem;
    margin: 2rem 0 1.5rem;
    text-transform: uppercase; }
  .speciality__text {
    margin: 0 auto;
    width: 22rem; }

.testimonials {
  color: #fff; }
  .testimonials__text {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .07rem;
    margin: 0 auto 2.5rem;
    width: 70%; }
    @media only screen and (max-width: 56.25em) {
      .testimonials__text {
        width: 85%; } }
    @media only screen and (max-width: 37.5em) {
      .testimonials__text {
        width: 100%; } }
  .testimonials__name {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase; }

.button {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .10rem;
  text-decoration: none;
  text-transform: uppercase; }

.contact-section__heading {
  text-align: center; }

.contact-section__text {
  margin: 0 auto 3rem;
  text-align: center;
  width: 55rem; }

.contact-form__label {
  font-weight: 700;
  text-align: left; }

.contact-form__input {
  font-family: inherit;
  font-size: 1.5rem; }

.contact-form__textarea {
  font-family: inherit;
  font-size: 1.5rem; }

.footer__header {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: .07rem; }

.footer__copy {
  color: #bcbcbc; }

.footer__list {
  list-style: none; }

.footer__social {
  justify-self: flex-end; }
  @media only screen and (max-width: 37.5em) {
    .footer__social {
      justify-self: flex-start; } }

.footer__link:link, .footer__link:visited {
  color: #bcbcbc;
  text-decoration: none; }

.footer__link:active, .footer__link:hover {
  color: #fff; }

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #10c9c3;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 1.8rem 4rem; }
  .button--load-more {
    background: #f5f5f5;
    display: block;
    text-align: center;
    padding: 4rem 0; }
  .button--contact {
    display: block;
    margin: 0 auto; }

.contact-form {
  margin: 0 auto;
  width: 68rem; }
  @media only screen and (max-width: 37.5em) {
    .contact-form {
      width: 100%; } }
  .contact-form__input {
    border: none;
    color: #787878;
    padding: 1.5rem;
    width: 100%; }
    .contact-form__input::-webkit-input-placeholder {
      color: #787878; }
  .contact-form__input:placeholder-shown + .contact-form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .contact-form__label {
    display: block;
    transition: all .3s; }
  .contact-form__span {
    color: red; }
  .contact-form__textarea {
    border: none;
    color: #787878;
    height: 17rem;
    padding: 1.5rem;
    width: 100%; }
    .contact-form__textarea::-webkit-input-placeholder {
      color: #787878; }
  .contact-form__textarea:placeholder-shown + .contact-form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.form-element-grid {
  display: grid;
  grid: auto/repeat(2, 1fr);
  grid-column-gap: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .form-element-grid {
      grid: auto / 1fr;
      grid-column-gap: 0; } }

.header-navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none; }
  @media only screen and (max-width: 37.5em) {
    .header-navigation {
      flex-direction: column;
      align-items: flex-end; } }

.header {
  background: url("../img/bkg.png") #e9e9e9;
  background-position: center;
  background-size: cover;
  padding: 4rem 0 20rem; }
  @media only screen and (max-width: 37.5em) {
    .header {
      background: #e9e9e9;
      padding: 4rem 0 10rem; } }
  .header__navigation-container {
    display: grid;
    grid: auto/repeat(2, 1fr);
    margin: 0 10rem 18rem; }
    @media only screen and (max-width: 56.25em) {
      .header__navigation-container {
        margin: 0 5rem 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__navigation-container {
        margin: 0 2rem 6rem; } }
  .header__banner {
    display: grid;
    grid: auto / 60% 1fr;
    margin: 0 10rem; }
    @media only screen and (max-width: 37.5em) {
      .header__banner {
        grid: auto / 1fr;
        margin: 0 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .header__copy-container {
      text-align: center; } }

.stats {
  display: grid;
  grid: auto/repeat(4, 1fr);
  margin: 0 auto;
  width: 90%; }
  @media only screen and (max-width: 56.25em) {
    .stats {
      grid: auto/repeat(2, 1fr);
      grid-row-gap: 2rem;
      grid-column-gap: 10rem;
      width: 70%; } }
  @media only screen and (max-width: 37.5em) {
    .stats {
      grid: auto / 1fr;
      grid-row-gap: 5rem;
      width: 50%; } }

.stat {
  display: grid;
  grid: auto / 25% 75%; }
  @media only screen and (max-width: 37.5em) {
    .stat {
      grid: auto / 30% 70%; } }
  .stat__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
